{% load compress staticfiles %}

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

		<title>{% block title %}Contacts{% endblock %}</title>

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		{% compress css %}
			<link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
			{% block extracss %}{% endblock %}
		{% endcompress %}

		<!-- Chrome & Firefox OS (Android 5.0+) -->
		<meta name="theme-color" content="#095765">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#095765">
		{% block extrahead %}{% endblock %}
	</head>

	<body>
		<div id="home" class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a href="{% if not is_home %}{% url 'index' %}{%else%}#home{%endif%}" class="brand-logo">
						<img src="{% static 'img/logo-dark-bg.png' %}"/>
					</a>
					<a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons reset">menu</i></a>
					<ul class="right hide-on-med-and-down">
						{% include 'website/links_topbar.html' %}
					</ul>
					<ul id="mobile-nav" class="side-nav mobile-nav">
						{% include 'website/links_topbar.html' %}
					</ul>

				</div>
			</nav>
		</div>

		<main>
			{% block base_content %}{% endblock %}
		</main>

		{% compress js %}
			<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
			<script src="{% static 'bower_components/Materialize/bin/materialize.js' %}"></script>
			<script src="{% static 'js/app.js' %}"></script>
		{% endcompress %}
		{% block extrajs %}{% endblock %}
	</body>
</html>
