{% extends 'website/base.html' %}

{% load staticfiles i18n %}

{% block base_content %}
<div class="row container">
	<div class="s12 m10 l8 offset-m1 offset-l2 col">
		{% include 'renders/render_messages.html' %}
		<h4>{% trans 'Create Account' %}</h4>
		<form method="post">
			{% csrf_token %}
			{% include 'renders/render_form.html' with form=form %}
			<div class="row">
				<div class="s12 col">
					<button class="right waves-effect waves-light btn-large black-text" type="submit" name="action">{% trans 'Create Account' %}</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
