{% extends 'website/base.html' %}

{% load staticfiles i18n %}

{% block base_content %}
<div class="row container">
	<div class="s12 m12 l8 offset-l2 col">
		{% include 'renders/render_messages.html' %}

		<h4>
		{% if form.instance.pk %}
			{% trans 'Edit' %}
		{% else %}
			{% trans 'New' %}
		{% endif %} {{verbose_name}}
		</h4>

		<form method="post">
			{% csrf_token %}
			{% include 'renders/render_form.html' with form=form %}
			<div class="row">
				{% if form.instance.pk %}
				<div class="s6 col">
					<button class="waves-effect waves-light btn-large black-text red" name="delete">{% trans 'Delete' %}</button>
				</div>
				{% endif %}
				<div class="{% if form.instance.pk %}s6{% else %}s12{% endif %} col">
					<button class="right waves-effect waves-light btn-large black-text" type="submit" name="action">{% trans 'Save' %}</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
	$('select[multiple=multiple]').prepend('<option value="" disabled selected>{% trans "Chose groups" %}</option>').material_select();
	var $input = $('#id_birthday').pickadate({
		format: 'mm/dd/yyyy',
		today: '',
		clear: '{% trans "Clear" %}',
		close: '{% trans "Close" %}',
		selectMonths: true,
		selectYears: 100,
		yearRange: "-100:+0",
		max: new Date,
	});
	var picker = $input.pickadate('picker');
	$input.click(function() {
		picker.open();
	})

	// Desabilita a edicao manual do input
	$('#id_birthday').prop("readonly", true);

	$('[name="delete"]').click(function() {
		return confirm('{% trans "are you sure you want to delete?" %}');
	});
});
</script>
{% endblock %}
