{% load i18n %}

{% if user.is_authenticated %}
<li><a href="{% url 'index' %}">{% trans 'Contacts' %}</a></li>
<li><a href="{% url 'groups_overview' %}">{% trans 'Groups' %}</a></li>
<li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
{% endif %}
