{% extends 'website/base.html' %}

{% load staticfiles i18n %}

{% block base_content %}
<div class="row container">
	<div class="s12 col">
		{% include 'renders/render_messages.html' %}
		<h4>{% trans 'Contacts' %}</h4>
		<p><a href="{% url 'new_contact' %}" class="btn-flat waves-effect">
				<i class="material-icons">add</i>{% trans 'New Contact' %}
			</a>
		</p>
		<ul class="collapsible popout" data-collapsible="accordion">
		{% for contact in contacts %}
			<li>
				<div class="collapsible-header">{{contact.name}}</div>
				<div class="collapsible-body">
					<p>
						<b>{% trans 'Name' %}:</b> {{contact.name}}<br/>
						<b>{% trans 'Phone' %} 1:</b> {{contact.phone1}}<br/>
						{% if contact.phone2 %}<b>{% trans 'Phone' %} 2:</b> {{contact.phone2}}<br/>{% endif %}
						{% if contact.email %}<b>{% trans 'Email' %}:</b> {{contact.email}}<br/>{% endif %}
						{% if contact.birthday %}<b>{% trans 'Birthday' %}:</b> {{contact.birthday}}<br/>{% endif %}
						{% if contact.groups.all %}
							<b>{% trans 'Groups' %}:</b>
							 {% for group in contact.groups.all %}
								{{group.name}}{% if not forloop.last %}, {% endif %}
							{% endfor %}<br/>
						{% endif %}
						<a href="{% url 'edit_contact' contact.pk %}" class="btn waves-effect black-text"><i class="material-icons">edit</i>{% trans 'Edit' %}</a>
					</p>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
