{% extends 'website/base.html' %}

{% load staticfiles i18n %}

{% block base_content %}
<div class="row container">
	<div class="s12 col">
		{% include 'renders/render_messages.html' %}
		<h4>{% trans 'Groups' %}</h4>
		<p><a href="{% url 'new_group' %}" class="btn-flat waves-effect">
				<i class="material-icons">add</i>{% trans 'New Groups' %}
			</a>
		</p>
		<ul class="collection">
		{% for group in groups %}
			<li class="collection-item">
				<a href="{% url 'edit_group' group.pk %}" class="btn-flat waves-effect black-text">
					<i class="material-icons">edit</i>
				</a>{{group.name}}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
