{% extends 'website/base.html' %}

{% load staticfiles i18n %}

{% block base_content %}
<div class="row container">
	<div class="s12 col center">
		{% include 'renders/render_messages.html' %}
		<h2>Contacts</h2>
		<img src="{% static 'img/logo-img.png' %}">
	</div>
	<div class="s12 m8 l6 offset-m2 offset-l3 col">
		<form method="post">
		{% csrf_token %}
		{% include 'renders/render_form.html' with form=form %}
		<div class="row">
			<div class="s6 col">
				<a class="left waves-effect waves-light btn-large black-text blue" href="{% url 'create_account' %}">{% trans 'Create account' %}</a>
			</div>
			<div class="s6 col">
				<button class="right waves-effect waves-light btn-large black-text" type="submit" name="action">{% trans 'Login' %}</button>
			</div>
		</div>


		</form>
	</div>
</div>
{% endblock %}
