// input:-webkit-autofill
// Desabilita aquele fundo amarelo quando o navegador faz o autocomplete,
// porém no estado :focus o fundo amarelo permanece.
// Como é fácil de perceber, a cor abaixo está fixa, ou seja, evite colocar
// outras cores no background, poque senão o field vai ficar com cor diferente.
input:-webkit-autofill, {
  // scss-lint:disable VendorPrefix
  -webkit-box-shadow: 0 0 0 1000px $neutral-color inset;

  &.valid {
    -webkit-box-shadow: 0 0 0 1000px $neutral-color inset,
                        0 2px 0 0 $input-success-color;
  }
}

.helptext {
  color: color('blue-grey', 'base');
  display: block;
  font-size: 85%;
  margin-top: -15px;

  .select2 ~ & {
    margin-top: 0;
  }
}

[type='checkbox'] {
  ~ label {
    left: 0;
  }

  ~ .helptext {
    margin-top: 7px;
    padding-left: 35px;
  }
}

.input-field.invalid {
  input,
  [type='checkbox'] + label,
  .top0 label {
    border-bottom: 1px solid $input-error-color;
    box-shadow: 0 2px 0 0 $input-error-color;
  }

  .tooltip {
    background-color: $input-error-color;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 6px transparentize(color('shades', 'black'), .6);
    color: color('shades', 'white');
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    right: .75rem;
    top: 3rem;
    transition: opacity .25s ease-in-out,
                background-color .25s ease-in-out;
  }

  &:hover .tooltip,
  &:focus .tooltip {
    opacity: 1;
  }

  input:focus ~ .tooltip {
    background-color: $primary-color-dark;
    opacity: .5;
  }
}

.errorlist.nonfield {
  border-left: 3px $input-error-color solid;
  color: $input-error-color;
  padding-left: 1em;
}

.top0 label {
  top: 0;
}

.full-checkbox {
  border-radius: 2px;
  margin-top: 2.3rem;

  @media #{$medium-and-up} {
    &.row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .col.s1-11 {
    padding: 0;
    width: (100% / 11);
  }

  .col.s1-5 {
    padding: 0;
    width: (100% / 5);

    .material-icons {
      font-size: 2.5rem;
      transform: translateY(0);
    }
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    font-size: 1.5rem;
    padding-left: 0;
    text-align: center;
    width: 100%;
  }

  [type="radio"]:checked + label::after {
    display: none;
  }

  .input-field & label {
    height: 60px;
    left: 0;
    line-height: 60px;
    top: 0;

    &::before {
      background-color: color('shades', 'white');
      border: 0;
      border-left: 1px color('grey', 'lighten-2') solid;
      border-radius: 0;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: -1;
    }
  }

  [type="radio"]:checked + label::before {
    background-color: $neutral-color;
    box-shadow: inset 0 2px 5px 0 transparentize(color('shades', 'black'), .84),
                inset 0 2px 10px 0 transparentize(color('shades', 'black'), .88);
  }
}
