@import '../bower_components/Materialize/sass/components/color';

$primary-color: #00547c;
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color('yellow', 'darken-1');
$secondary-color-dark: #73520f;
$neutral-color: #f2f2f2;

$primary-color-contrast: #fff;
$secondary-color-contrast: #000;

// Forms
$dropdown-color: $primary-color-dark !default;
$input-border-color: color('blue-grey', 'darken-1');
$input-focus-color: $primary-color-dark !default;
$radio-fill-color: $primary-color-dark !default;
$switch-bg-color: $primary-color-dark !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 60%), 25%) !default;

// Fonts
$roboto-font-path: '../bower_components/Materialize/font/roboto/';
$icons-font-path: '../bower_components/Materialize/font/material-design-icons/';

//Tables
$table-border-color: #bbb;
$table-striped-color: #e0e0e0;
