@import 'variables';
@import '../bower_components/Materialize/sass/materialize';
@import 'form-change';


.brand-logo img {
  max-height: 55px;
  margin-top: 3px;
}

body {
  background-color: $neutral-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.row.no-gap {
  margin-bottom: 0;
}

.messages-section {
  .info {
    background-color: color('blue', 'lighten-4');
  }

  .success {
    background-color: color('green', 'lighten-4');
  }

  .warning {
    background-color: color('orange', 'lighten-4');
  }

  .error {
    background-color: color('red', 'lighten-4');
  }
}
