{% if messages %}
<div class="row">
	<div class="s12 col">
		<ul class="collection z-depth-1 messages-section">
			{% for message in messages %}
			<li class="collection-item {% if message.tags %} {{ message.tags }} {% endif %}">{{message}}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
